.itemsDecorate {
    background-color: #86d4da;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@keyframes parpadeoRealista {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

.parpadeo {
    animation: parpadeoRealista 1.5s ease-in-out infinite;
}