/*Producto*/
@media (min-width : 1px) {
    #NavProductoContenedor {
        width: 100% !important;
    }
}

@media (min-width : 1280px) {
    #NavProductoContenedor {
        width: 75% !important;
    }
}

@media (min-width : 1366px){
    #NavProductoContenedor {
        width: 80% !important;
    }
}

@media (min-width : 1660px){
    #NavProductoContenedor {
        width: 50% !important;
    }
}
