@font-face {
    font-family: brother;
    src: url("../fonts/Brother\ DEMO.ttf");

}

@font-face {
    font-family: brother2;
    src: url("../fonts/Brother1816-Bold.ttf");
}

* {
    font-weight: 600;
    font-family: brother2;
    transition: 0.2s all;
    letter-spacing: 1.5px;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

.bg-hoverdark:hover {
    filter: brightness(0.9);

}

.bg-hover:hover {
    background-color: #f1f0f0
}

.zoom:active {
    transform: scale(1.1);
}

img {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-block {
    cursor: not-allowed;
}

.hover-rosa:hover {
    color: #DE4E75 !important;
}

body {
    background-color: #4BB9B7;
    max-height: 100vh;
    height: 100vh;
}

li {
    cursor: pointer;
}

.color-rosa {
    color: #DE4E75;
}


.fondo-verde {
    background: #57BDC6
}

.transition:hover {
    transform: translateY(-5%);
    opacity: 1 !important;
}

/*SCROLLBAR*/

.scrollbar,
.scrollbar-sm {
    overflow-y: overlay;
}

.scrollbar::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: #e7e7e700;
}

.scrollbar::-webkit-scrollbar:vertical {

    width: 8px;
}

.scrollbar {
    overflow: auto;
}

.scrollbar::-webkit-scrollbar-button:increment,
.scrollbar::-webkit-scrollbar-button {
    display: none;

}

.scrollbar::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scrollHidden {
    overflow: overlay;
}

.scrollHidden::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #814937;
    border-radius: 20px;
    border: 2px solid transparent;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
}

.remover-bordes {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

/*INPUT GLOBALES*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date] {
    -moz-appearance: textfield;
}